   /* media css for home products start */
   @media only screen and (min-width:320px) and (max-width:767px) {
        .home-product-grid {
            display: inline-block !important;
            width: 100% !important;
            margin-left: -15px !important;
            position:  relative !important;
        }
        .mobile-card{
         width: 340px !important; 
        }
    }
   /* media css for home products ends */
   .register{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}
   @tailwind base;
    @tailwind components;
    @tailwind utilities; 
   body {
    background: url(//subtlepatterns.com/patterns/scribble_light.png); 
    font-family: Calluna, Arial, sans-serif;  
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
/* .header {
    display: block;
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
    width: 100%;
  } */
  
  .cartitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    margin-bottom: 20px;
  }
  
  .cartItemImg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  
  .cartItemDetail {
    display: flex;
    flex: 1;
    padding: 0 20px;
    flex-direction: column;
  }
  
  /* Home Page */
  
 
  .filters {
    background-color: #343a40;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .filters > span {
    padding-bottom: 20px;
  }
  
  .title {
    font-size: 30px;
  }
  
  .productContainer {
    display: flex;
    width: 78%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .products {
    width: 30%;
    margin: 10px;
  }
  
  .summary {
    width: 30%;
  }
  /* .clock {


    background: rgb(243, 241, 241);

    color: orange;
    text-shadow: 1px 1px 7px;
    border-radius: 15px;
    border: 2px solid silver;
   
  } */

  /* .clock section p {
    font-size: 3rem;
  }
  .clock section small {
    color: silver;
    text-shadow: none;
  } */
  /* .clock {
    
    background: rgb(243, 241, 241);
    
    color: orange;
    text-shadow: 1px 1px 7px;
    border-radius: 15px;
    border: 2px solid silver;
   
   
  } */
  /* .clock section {
  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
  } */
  /* .clock section p {
    font-size: 3rem;
    text-align: center;
  }
  .clock section small {
    color: silver;
    text-shadow: none;
    text-align: center;
  } */

  
  .news {
    color: black;
    font-size: 2rem;
   text-align: center;
    
    padding: 1px;
  }
  .hot {
    
    color: black;
    font-size: 4rem;
  
  }
  .new {
    color: green;
    font-size: 3rem;
   
   
  
  }
  .newPrice {
    color: black;
    font-size: 1rem;
   
  }
  .old {
    color: red;
    font-size: 3rem;
    
  
  }
  .oldPrice {
    color: black;
    font-size: 1rem;
 
  }

  @media (max-width: 771px) {
    .filters {
      width: 220%;
      padding: 10px;
      margin: 5px;
    }
  
    .filters > span {
      font-size: 10px;
    }
  
    .title {
      font-size: 18px !important;
    }
  
    .productContainer {
      width: 57%;
      padding: 0;
    }
  
    .search {
      display: none !important;
    }
  
    .products {
      width: 70%;
    }
  }

  .webintern-footer {
    background: #0d2034;
    }
    
    .webintern-footer-inner {
    padding-top: 80px;
    padding-bottom: 50px;
    }
    
    .webintern-footer-logo {
    display: inline-block;
    }
    
    .webintern-footer .webintern-footer-inner .simple-text p {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 15px;
    }
    .simple-text p {
    font-size: 15px;
    color: #42435d;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 0;
    }
    
    .webintern-footer .webintern-footer-inner .simple-text a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #f2c21a;
    font-size: 15px;
    }
    .footer-2 {
    padding-left: 55px;
    }
    .webintern_footer_title {
    margin-top: 0px;
    margin-bottom: 25px;
    }
    .webintern_footer_title small {
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    }
    .webintern_footer_title:after {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background: #f2c21a;
    margin-top: 15px;
    }
    .webintern-footer-list {
    padding: 0;
    }
    .webintern-footer-list li {
    margin-bottom: 17px;
    list-style: none;
    }
    .webintern-footer-list a {
    position: relative;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    padding-left: 0;
    letter-spacing: 0.20px;
    font-family: 'Open Sans', sans-serif;
    }
    .footer-3 {
    padding-left: 65px;
    }
    .webintern-footer-inner .simple-text.last {
    color: #d5d5d5;
    font-size: 17px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    }
    .tt-subscribe {
    position: relative;
    }
    .tt-subscribe input:not([type="submit"]) {
    width: 100%;
    height: 46px;
    background: #fff;
    font-size: 15px;
    color: #838486;
    padding-left: 20px;
    padding-right: 70px;
    border: 2px solid #fff;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    }
    .tt-subscribe-submit {
    background: #001b57;
    }
    
    .tt-subscribe-submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 52px;
    height: 46px;
    font-size: 18px;
    line-height: 46px;
    color: #2a2a2a;
    text-align: center;
    background: #001b57;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
    }
    
    
    .tt-subscribe-submit i.fa-envelope:before {
    content: "\f0e0";
    position: relative;
    z-index: 1;
    color: #fff;
    }
    .tt-subscribe-submit input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #51658d;
    border: 0;
    }
    ul.tt-socail {
    padding: 0;
    margin-top: 30px;
    }
    .tt-socail li {
    display: inline-block;
    margin-right: 10px;
    }
    .tt-socail a {
    display: block;
    width: 36px;
    height: 36px;
    font-size: 17px;
    line-height: 34px;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    -moz-border-radius: 100%;
    border-radius: 100%;
    }
    .webintern_footer_title small {
        font-family: 'Work Sans', sans-serif;
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
    }
    .tt-copy
    {
    font-size: 1.5rem;
    line-height: 20px;
    color: #fff;
    background: #51658d;
    padding: 30px 0;
    font-family: 'Open Sans', sans-serif;
    }
    .tt-copy-right {
    text-align: right;
    }
  
    .button:hover {
      background-color: gray;
      color: orange;
     
     
      
      font-size: 16px;
     
    }
    .text-block {
      position: absolute;
      bottom: 20px;
      font-size:2rem;
     
       margin-right: 600px;
      margin-bottom: 430px;
      color:orange;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
    }
    .container .btn {
      position: absolute;
      top: 50%;
      left: 15%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color: #f1f1f1;
      color: orange;
      font-size: 16px;
      padding: 16px 30px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      text-align: center;
    }
    
    .container .btn:hover {
      background-color: orange;
      color: white;
    }
    .columns_2 figure{
   width:49%;
   margin-right:1%;
}
.columns_2 figure:nth-child(2){
	margin-right: 0;
}
.columns_3 figure{
   width:32%;
   margin-right:1%;
}
.columns_3 figure:nth-child(3){
	margin-right: 0;
}
.columns_4 figure{
   width:24%;
   margin-right:1%;
}
.columns_4 figure:nth-child(4){
	margin-right: 0;
}
.columns_5 figure{
   width:19%;
   margin-right:1%;
}
.columns_5 figure:nth-child(5){
	margin-right: 0;
}
#columns figure:hover{
	-webkit-transform: scale(1.1);
	-moz-transform:scale(1.1);
	transform: scale(1.1);

}
#columns:hover figure:not(:hover) {
	opacity: 0.4;
}


div#columns figure img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}


/* //login// */


.login-box {
  width: 100%;
  margin: auto;
  max-width: 525px;
  min-height: 770px;
  position: relative;
  background: url(https://images.unsplash.com/photo-1507208773393-40d9fc670acf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80) no-repeat center;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19)
}

.login-snip {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 90px 70px 50px 70px;
  background: rgba(0, 77, 77, .9)
}

.login-snip .login,
.login-snip .sign-up-form {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all .4s linear
}

.login-snip .sign-in,
.login-snip .sign-up,
.login-space .group .check {
  display: none
}

.login-snip .tab,
.login-space .group .label,
.login-space .group .button {
  text-transform: uppercase
}

.login-snip .tab {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent
}

.login-snip .sign-in:checked+.tab,
.login-snip .sign-up:checked+.tab {
  color: #fff;
  border-color: #1161ee
}

.login-space {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d
}

.login-space .group {
  margin-bottom: 15px
}

.login-space .group .label,
.login-space .group .input,
.login-space .group .button {
  width: 100%;
  color: #fff;
  display: block
}

.login-space .group .input,
.login-space .group .button {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, .1)
}

.login-space .group input[data-type="password"] {
  text-security: circle;
  -webkit-text-security: circle
}

.login-space .group .label {
  color: #aaa;
  font-size: 12px
}

.login-space .group .button {
  background: #1161ee
}

.login-space .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, .1)
}

.login-space .group label .icon:before,
.login-space .group label .icon:after {
  content: '';
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all .2s ease-in-out 0s
}

.login-space .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0)
}

.login-space .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0)
}

.login-space .group .check:checked+label {
  color: #fff
}

.login-space .group .check:checked+label .icon {
  background: #1161ee
}

.login-space .group .check:checked+label .icon:before {
  transform: scale(1) rotate(45deg)
}

.login-space .group .check:checked+label .icon:after {
  transform: scale(1) rotate(-45deg)
}

.login-snip .sign-in:checked+.tab+.sign-up+.tab+.login-space .login {
  transform: rotate(0)
}

.login-snip .sign-up:checked+.tab+.login-space .sign-up-form {
  transform: rotate(0)
}

*,
:after,
:before {
  box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
  content: '';
  display: table
}

.clearfix:after {
  clear: both;
  display: block
}

a {
  color: inherit;
  text-decoration: none
}

.hr {
  height: 2px;
  margin: 60px 0 50px 0;
  background: rgba(255, 255, 255, .2)
}

.foot {
  text-align: center
}

 

::placeholder {
  color: #b3b3b3;
  
}

.google {
  background-color: #4285f4;
  color: white;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}




.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

